*
!backups/.dockerignore
!backups/.gitignore
!CONTRIBUTING.md
deploy
!.git
!.gitignore
!**/.gitignore
!LICENSE
!logs/.dockerignore
!logs/.gitignore
!manage.py
!palanaeum
!README.md
!requirements.txt

!palanaeum/settings/local.py

.idea/
.vagrant/
_pycache__
**/__pycache__
*.pyc
**/*.pyc
.sass-cache
venv
