*
!backups/.dockerignore
!backups/.gitignore
!CONTRIBUTING.md
deploy
!.git
!.gitignore
!**/.gitignore
!LICENSE
!logs/.dockerignore
!logs/.gitignore
!manage.py
!palanaeum
!README.md
!requirements.txt

_pycache__
**/__pycache__
*.pyc
.sass-cache
venv
!palanaeum/settings/local.py
